*.gem
*.rbc
*.bak
.project
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
tests/tmp
tests/version_tmp
tmp
log/*.log
data/*

*.sqlite3
._*
